{% extends "layout.html" %}
{% block title %}
Memory Configuration
{% endblock %}
{% block content %}
<form action="{{ url_for('memory_configuration') }}" method="POST" class="show-configurations">
    <label class="config-title">The mem-cache parameters configurations are: </label>
    <hr class="hr-show-configurations">
    <label for="capacity" class="capacity">Capacity in MB:
        <input type="number" name="capacity" id="capacity" placeholder="default capacity is 500MB..." min="0" max="500" required>
    </label>
    <label for="replacement-policy-item" class="replacement-policy">Replacement Policy:
        <input type="radio" id="replacement-policy-item" name="replacement-policy" value="random-replacement" checked> Random Replacement
        <input type="radio" id="replacement-policy-item" name="replacement-policy" value="least-recently-used"> Least Recently Used
    </label>
    <label for="memcache-pool-resizing-option" class="memcache-pool-resizing-option">Choose a memcache pool mode:
        <input type="radio" id="memcache-pool-resizing-option" name="memcache-pool-resizing-option" value="manual" onclick="text(0)" checked> Manual Mode
        <input type="radio" id="memcache-pool-resizing-option" name="memcache-pool-resizing-option" value="auto" onclick="text(1)"> Automatic Mode
        <script>
            function text(x) {
                if (x == 0)
                    document.getElementById("pool-size").style.display = "block";
                else
                    document.getElementById("pool-size").style.display = "none";
                return;
            }
        </script>
        <label for="pool-size" class="pool-size" id="pool-size">Specify to expand or shrink your pool:
            <input type="radio" id="pool-size" name="pool-size-option" value="expand" checked> Expand
            <input type="radio" id="pool-size" name="pool-size-option" value="shrink"> Shrink
            <label for="pool-resize-number" class="pool-resize-number">Specify a number to resize your pool:
                <input type="number" name="pool-resize-number" id="pool-resize-number" placeholder="min=1 and max=8" min="1" max="8">
            </label>
        </label>
    </label>
    <label for="delete-application-data" class="delete-application-data">Do you want to delete all application data?
        <input type="radio" id="delete-application-data" name="delete-application-data" value="no" checked> No
        <input type="radio" id="delete-application-data" name="delete-application-data" value="yes"> Yes
    </label>
    <label for="clear-cache" class="clear-cache">Do you want to clear the cache?
        <input type="radio" id="clear-cache" name="clear-cache" value="no" checked> No
        <input type="radio" id="clear-cache" name="clear-cache" value="yes"> Yes
    </label>
    <button class="submit-configurations" type="submit" value="submit-configurations">Set Configurations</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <label class="config-title">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </label>
        {% endif %}
    {% endwith %}
</form>
{% endblock %}